In [8]:
import pandas as pd 
melb_data=pd.read_csv("C:\SkillFactory\PYTHON-12. Продвинутые методы работы с данными в Pandas\data\melb_data_fe.csv", sep=",")
melb_dt=melb_data.copy()
melb_dt["Date"]=pd.to_datetime(melb_dt["Date"], yearfirst=True)
colums_to_exclude=["Date", "Rooms", "Bedroom", "Bathroom", "Car"]
max_unique_count=150
for i in melb_dt.columns:
    if i not in colums_to_exclude and melb_dt[i].nunique()<max_unique_count:
        melb_dt[i]=melb_dt[i].astype("category")
melb_dt.sort_values(by=["AreaRatio"], ascending=True, ignore_index=True).loc[1557, ["AreaRatio","BuildingArea"]]

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\govor\AppData\Local\Temp\ipykernel_7064\2956462373.py:2: SyntaxWarning: invalid escape sequence '\S'
  melb_data=pd.read_csv("C:\SkillFactory\PYTHON-12. Продвинутые методы работы с данными в Pandas\data\melb_data_fe.csv", sep=",")

AreaRatio      -0.719689
BuildingArea       126.0
Name: 1557, dtype: object

In [9]:
import pandas as pd 
melb_data=pd.read_csv("C:\SkillFactory\PYTHON-12. Продвинутые методы работы с данными в Pandas\data\melb_data_fe.csv", sep=",")
melb_dt=melb_data.copy()
display(melb_dt)
melb_dt.groupby("Rooms")["Price"].mean().sort_values(ascending=False)

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\govor\AppData\Local\Temp\ipykernel_7064\3642543167.py:2: SyntaxWarning: invalid escape sequence '\S'
  melb_data=pd.read_csv("C:\SkillFactory\PYTHON-12. Продвинутые методы работы с данными в Pandas\data\melb_data_fe.csv", sep=",")

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.99440,Northern Metropolitan,4019,18.750000,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.99690,Northern Metropolitan,4019,15.750000,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.99410,Northern Metropolitan,4019,17.750000,0.083969,4,2,2,St,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,other,4,house,1245000.0,S,Barry,2017-08-26,16.7,3150,4,...,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,5,Cr,1
13576,Williamstown,3,house,1031000.0,SP,Williams,2017-08-26,6.8,3016,3,...,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,5,Dr,1
13577,Williamstown,3,house,1170000.0,S,Raine,2017-08-26,6.8,3016,3,...,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,5,St,1
13578,Williamstown,4,house,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,4,...,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,5,St,1
13579,Yarraville,4,house,1285000.0,SP,Village,2017-08-26,6.3,3013,4,...,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,5,St,1

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

In [10]:
import pandas as pd 
melb_data=pd.read_csv("C:\SkillFactory\PYTHON-12. Продвинутые методы работы с данными в Pandas\data\melb_data_fe.csv", sep=",")
melb_dt=melb_data.copy()
melb_dt["Date"]=pd.to_datetime(melb_dt["Date"])
dt1="2017-05-01"
dt2="2017-09-01"
mask=(dt1<=melb_data["Date"])&(melb_data["Date"]<=dt2)
melb_dt[mask].groupby("SellerG")["Price"].sum().sort_values()
max_unit=melb_dt.pivot_table(
    values="Price",
    index="SellerG",
    columns="Type",
    aggfunc="median"
)
mask=max_unit["unit"].max()
print(max_unit[max_unit["unit"]==mask].index[0])

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\govor\AppData\Local\Temp\ipykernel_7064\2491359259.py:2: SyntaxWarning: invalid escape sequence '\S'
  melb_data=pd.read_csv("C:\SkillFactory\PYTHON-12. Продвинутые методы работы с данными в Pandas\data\melb_data_fe.csv", sep=",")

Nick

In [25]:
import pandas as pd 
import re
ratings_movies=pd.read_csv("./data/ratings_movies.csv", sep=",")
ratings_movies_copy=ratings_movies.copy()

def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
ratings_movies_copy["year_release"]=ratings_movies_copy["title"].apply(get_year_release)
ratings_movies_copy=ratings_movies_copy[(ratings_movies_copy['year_release']==2018)]
ratings_movies_copy_new=ratings_movies_copy.groupby("genres")["rating"].agg(["mean", "count"])

ratings_movies_copy_new=ratings_movies_copy_new[(ratings_movies_copy_new["count"]>10)]["mean"].sort_values(ascending=False)
display(ratings_movies_copy_new)

genres
Action|Adventure|Sci-Fi    3.928571
Action|Comedy|Sci-Fi       3.875000
Name: mean, dtype: float64

In [32]:
import pandas as pd 
import re
ratings_movies=pd.read_csv("./data/ratings_movies.csv", sep=",")
ratings_movies_copy=ratings_movies.copy()
ratings_movies_copy["year_rating"]=pd.to_datetime(ratings_movies_copy["date"]).dt.year
ratings_movies_copy.pivot_table(
    values=["rating"],
    index="year_rating",
    columns="genres"
)

                        rating                             \
genres      (no genres listed)    Action Action|Adventure
year_rating
1996                       NaN  2.730769         3.454545
1997                       NaN  3.538462         4.150000
1998                       NaN       NaN         4.200000
1999                       NaN       NaN         4.000000
2000                       NaN  2.588235         3.738462
2001                       NaN  3.000000         3.500000
2002                       NaN  2.750000         4.304348
2003                       NaN  3.833333         3.277778
2004                       NaN  2.700000         4.136364
2005                       NaN  3.357143         3.413043
2006                       NaN  2.166667         4.090909
2007                       NaN  2.583333         3.666667
2008                       NaN  3.000000         3.656250
2009                       NaN       NaN         3.714286
2010                       NaN  3.500000         3.437500
2011                       NaN  4.500000         3.888889
2012                       NaN  2.625000         3.900000
2013                       NaN  2.500000         3.833333
2014                       NaN       NaN         3.875000
2015                  0.500000  3.100000         3.560976
2016                  3.500000  3.545455         3.722222
2017                  3.000000  2.637931         3.527778
2018                  3.676471  2.588235         3.397436

                                                                            \
genres      Action|Adventure|Animation Action|Adventure|Animation|Children
year_rating
1996                               NaN                                 NaN
1997                               NaN                                 NaN
1998                               NaN                                 NaN
1999                               NaN                                 NaN
2000                               NaN                                 NaN
2001                               NaN                                 NaN
2002                               NaN                                 NaN
2003                               NaN                                 NaN
2004                               NaN                                 NaN
2005                               NaN                                 NaN
2006                               NaN                                 NaN
2007                               NaN                                 NaN
2008                               NaN                                 NaN
2009                               NaN                                 NaN
2010                               NaN                                 NaN
2011                               NaN                                 NaN
2012                               NaN                            4.000000
2013                               NaN                            3.000000
2014                             3.000                            3.500000
2015                             3.800                            3.666667
2016                             3.750                            3.833333
2017                             3.375                            3.500000
2018                             3.650                            3.166667

                                                        \
genres      Action|Adventure|Animation|Children|Comedy
year_rating
1996                                               NaN
1997                                               NaN
1998                                               NaN
1999                                               NaN
2000                                               NaN
2001                                               NaN
2002                                               NaN
2003                                               NaN
2004                                          4.000000
2005                                          4.107143
2006                                          3.833333
2007                                          3.846154
2008                                          4.125000
2009                                          3.900000
2010                                          4.333333
2011                                          3.500000
2012                                          3.785714
2013                                          4.333333
2014                                          3.250000
2015                                          3.565217
2016                                          3.925000
2017                                          3.676471
2018                                          3.741935

                                                                \
genres      Action|Adventure|Animation|Children|Comedy|Fantasy
year_rating
1996                                                       NaN
1997                                                       NaN
1998                                                       NaN
1999                                                       NaN
2000                                                       NaN
2001                                                       NaN
2002                                                       NaN
2003                                                       NaN
2004                                                       NaN
2005                                                       NaN
2006                                                       NaN
2007                                                  3.000000
2008                                                  4.000000
2009                                                       NaN
2010                                                       NaN
2011                                                       NaN
2012                                                       NaN
2013                                                       NaN
2014                                                  3.833333
2015                                                  3.833333
2016                                                  3.388889
2017                                                  3.700000
2018                                                  4.142857

                                                             \
genres      Action|Adventure|Animation|Children|Comedy|IMAX
year_rating
1996                                                    NaN
1997                                                    NaN
1998                                                    NaN
1999                                                    NaN
2000                                                    NaN
2001                                                    NaN
2002                                                    NaN
2003                                                    NaN
2004                                                    NaN
2005                                                    NaN
2006                                                    NaN
2007                                                    NaN
2008                                                    NaN
2009                                               3.250000
2010                                               3.500000
2011                                                    NaN
2012                                               3.550000
2013                                               5.000000
2014                                               3.500000
2015                                               3.375000
2016                                               3.666667
2017                                               1.000000
2018                                               3.700000

                                                                \
genres      Action|Adventure|Animation|Children|Comedy|Romance
year_rating
1996                                                       NaN
1997                                                       NaN
1998                                                       NaN
1999                                                       NaN
2000                                                       NaN
2001                                                       NaN
2002                                                       NaN
2003                                                       NaN
2004                                                       NaN
2005                                                       NaN
2006                                                       NaN
2007                                                       NaN
2008                                                       NaN
2009                                                       NaN
2010                                                  3.000000
2011                                                       NaN
2012                                                  4.000000
2013                                                       NaN
2014                                                  4.000000
2015                                                  2.333333
2016                                                  1.000000
2017                                                  1.000000
2018                                                  2.500000

                                                               ...  \
genres      Action|Adventure|Animation|Children|Comedy|Sci-Fi  ...
year_rating                                                    ...
1996                                                      NaN  ...
1997                                                      NaN  ...
1998                                                      NaN  ...
1999                                                      NaN  ...
2000                                                      NaN  ...
2001                                                      NaN  ...
2002                                                      NaN  ...
2003                                                      NaN  ...
2004                                                      NaN  ...
2005                                                      NaN  ...
2006                                                      3.0  ...
2007                                                      2.8  ...
2008                                                      3.5  ...
2009                                                      2.5  ...
2010                                                      NaN  ...
2011                                                      4.0  ...
2012                                                      NaN  ...
2013                                                      NaN  ...
2014                                                      NaN  ...
2015                                                      2.5  ...
2016                                                      4.0  ...
2017                                                      2.0  ...
2018                                                      4.0  ...

                                                                    \
genres      Romance|Thriller Romance|War Romance|Western    Sci-Fi
year_rating
1996                     NaN         NaN             NaN       NaN
1997                     NaN         NaN             NaN       NaN
1998                     NaN         NaN             NaN       NaN
1999                   2.000         NaN             NaN       NaN
2000                   4.000         NaN             3.0  3.416667
2001                     NaN         NaN             3.0  2.500000
2002                   3.000         NaN             NaN  3.750000
2003                   3.375         2.5             NaN  2.333333
2004                   3.000         3.0             3.5  2.125000
2005                   2.000         NaN             NaN  3.000000
2006                     NaN         NaN             NaN  0.500000
2007                   1.500         NaN             2.5  3.375000
2008                     NaN         NaN             NaN  3.125000
2009                     NaN         NaN             NaN  2.000000
2010                     NaN         NaN             NaN  4.000000
2011                     NaN         NaN             NaN  3.500000
2012                   2.500         NaN             NaN  4.166667
2013                     NaN         NaN             NaN  1.500000
2014                     NaN         NaN             NaN  2.500000
2015                     NaN         NaN             NaN  2.900000
2016                   2.500         NaN             NaN  3.555556
2017                   3.000         NaN             NaN  3.864865
2018                     NaN         NaN             NaN  3.128571

                                                                             \
genres      Sci-Fi|IMAX Sci-Fi|Thriller Sci-Fi|Thriller|IMAX  Thriller  War
year_rating
1996                NaN        2.666667                  NaN  3.838095  NaN
1997                NaN        3.400000                  NaN  3.923077  NaN
1998                NaN             NaN                  NaN  3.800000  NaN
1999                NaN        4.000000                  NaN  3.700000  4.5
2000                NaN        2.142857                  NaN  3.087912  3.0
2001                NaN        2.500000                  NaN  3.477273  3.0
2002                NaN        3.600000                  NaN  3.583333  3.5
2003                NaN        3.142857                  NaN  3.250000  3.0
2004                NaN             NaN                  NaN  3.464286  3.0
2005                NaN        2.750000                  NaN  3.411765  NaN
2006                NaN        4.500000                  NaN  3.735294  NaN
2007                NaN        2.833333                  NaN  3.421875  NaN
2008                NaN        3.000000                  NaN  3.333333  NaN
2009                NaN        4.000000                  NaN  2.964286  4.0
2010                NaN        2.500000                  NaN  2.833333  NaN
2011                NaN        1.833333             4.000000  3.625000  NaN
2012                NaN        3.500000             3.666667  3.083333  NaN
2013                NaN        3.833333             4.000000  3.666667  NaN
2014           5.000000             NaN             4.000000  4.000000  NaN
2015           4.071429        3.764706             4.000000  2.911765  NaN
2016           3.807692        3.916667             3.666667  3.432432  NaN
2017           4.264706        3.750000             2.500000  3.152174  NaN
2018           3.500000        3.562500                  NaN  3.296296  NaN


genres        Western
year_rating
1996         3.117647
1997         3.000000
1998              NaN
1999         4.000000
2000         4.058824
2001         3.111111
2002         3.000000
2003         4.000000
2004         3.800000
2005         4.500000
2006         3.625000
2007         3.000000
2008         4.000000
2009         3.375000
2010         3.666667
2011         4.000000
2012         4.100000
2013         4.000000
2014         4.000000
2015         3.900000
2016         3.958333
2017         2.933333
2018         3.611111

[23 rows x 951 columns]

In [23]:
import pandas as pd
products=pd.read_csv(".\data\products.csv", sep=";")
products_copy=products.copy()
orders=pd.read_csv(".\data\orders.csv", sep=";")
orders_copy=orders.copy()
orders_copy=orders_copy.rename(columns={"ID товара":"Product_ID"})
orders_products=products_copy.merge(
    orders_copy,
    on="Product_ID",
    how="inner"
)
orders_products["profit"]=orders_products["Price"]*orders_products["Количество"]
orders_products=orders_products[(orders_products["Оплачен"]=="Да")]
orders_products.groupby("ID Покупателя")["profit"].sum()
#display(orders_products)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\govor\AppData\Local\Temp\ipykernel_10316\4065893766.py:2: SyntaxWarning: invalid escape sequence '\d'
  products=pd.read_csv(".\data\products.csv", sep=";")
C:\Users\govor\AppData\Local\Temp\ipykernel_10316\4065893766.py:4: SyntaxWarning: invalid escape sequence '\d'
  orders=pd.read_csv(".\data\orders.csv", sep=";")

ID Покупателя
5    13043
7    17096
8     1344
Name: profit, dtype: int64